<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cupcakes.css">
    <title>Cupcake Shop</title>
</head>
<body>
    <p>my cupcake shop</p>
    
    <div id="cupcake-card">
        {%for cupcake in cupcakes%}
            <h3 id="cupcake-name">{{ cupcake ["name"]}}</h3>
            <h4>Flavor: {{ cupcake["flavor"] }}</h4>
            <h4>Frosting: {{ cupcake["frosting"] }}</h4>
            <h4><b>Price: ${{ cupcake["price"] }}</b></h4>
        {% endfor %}
    </div>
</body>
</html>